@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

  @font-face {
    font-family: "hongkonghustle";
    src: url("./font/hongkonghustle.ttf");
  }

  .hongkonghustle {
    font-family: "hongkonghustle";
  }

  @font-face {
    font-family: "akira";
    src: url("./font/Akira\ Jimbo.ttf");
  }

  .akira {
    font-family: "akira";
  }

  html {
    font-family: sans-serif;
    /* 1 */
    -ms-text-size-adjust: 100%;
    /* 2 */
    -webkit-text-size-adjust: 100%;
    /* 2 */
  }

  /**
 * Remove default margin.
 */
  body {
    margin: 0;
  }

  /* HTML5 display definitions
   ========================================================================== */
  /**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11 and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
  footer,
  header,
  main,
  nav {
    display: block;
  }

  /**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
  [hidden],
  template {
    display: none;
  }

  /* Links
   ========================================================================== */
  /**
 * Remove the gray background color from active links in IE 10.
 */
  a {
    background: transparent;
  }

  /**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
  a:active,
  a:hover {
    outline: 0;
  }

  /* Text-level semantics
   ========================================================================== */
  /*

  /**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
  b,
  strong {
    font-weight: bold;
  }

  /**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }

  /* Embedded content
   ========================================================================== */
  /**
 * Remove border when inside `a` element in IE 8/9/10.
 */
  img {
    border: 0;
  }

  /**
 * Correct overflow not hidden in IE 9/10/11.
 */
  svg:not(:root) {
    overflow: hidden;
  }

  /* Forms
   ========================================================================== */
  /**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
  /**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
  button {
    color: inherit;
    /* 1 */
    font: inherit;
    /* 2 */
    margin: 0;
    /* 3 */
  }

  /**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
  button {
    overflow: visible;
  }

  /**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
  button {
    text-transform: none;
  }

  /**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
  button,
  html {
    --webkit-appearance: button;
    /* 2 */
    cursor: pointer;
    /* 3 */
  }

  /**
 * Re-set default cursor for disabled elements.
 */
  button[disabled] {
    cursor: default;
  }

  /**
 * Remove inner padding and border in Firefox 4+.
 */
  button::-moz-focus-inner {
    border: 0;
    padding: 0;
  }

  /* Tables
   ========================================================================== */
  /**
 * Remove most spacing between table cells.
 */

  html,
  body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    height: 100%;
  }

  body {
    color: #111;
    font-size: 1.1em;
    line-height: 1.5;
    background: #fff;
  }

  main {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    padding: 0.6em 0;
  }

  li {
    margin: 0 0 0.3em;
  }

  a {
    color: #0074d9;
    text-decoration: none;
    box-shadow: none;
    transition: all 0.3s;
  }

  blockquote {
    padding: 0 0 0 1em;
    margin: 0 0 0 0.1em;
    box-shadow: inset 5px 0 rgba(250, 204, 21, 0.7);
  }

  [class^="icon-"]:before,
  [class*=" icon-"]:before {
    margin: 0 0.6em 0 0;
  }

  i[class^="icon-"]:before,
  i[class*=" icon-"]:before {
    margin: 0;
  }

  .dropimage,
  button,
  .button,
  [type="submit"],
  .label,
  [data-tooltip]:after {
    display: inline-block;
    text-align: center;
    letter-spacing: inherit;
    margin: 0;
    padding: 0.3em 0.9em;
    vertical-align: middle;
    background: #0074d9;
    color: #fff;
    border: 0;
    border-radius: 0.2em;
    width: auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .dropimage,
  button,
  .button,
  [type="submit"] {
    margin: 0.3em 0;
    cursor: pointer;
    transition: all 0.3s;
    border-radius: 0.2em;
    height: auto;
    vertical-align: baseline;
    box-shadow: 0 0 rgba(17, 17, 17, 0) inset;
  }
  .dropimage:hover,
  button:hover,
  .button:hover,
  [type="submit"]:hover,
  .dropimage:focus,
  button:focus,
  .button:focus,
  [type="submit"]:focus {
    box-shadow: inset 0 0 0 99em rgba(255, 255, 255, 0.2);
    border: 0;
  }
  .pseudo.dropimage:hover,
  button.pseudo:hover,
  .pseudo.button:hover,
  .pseudo[type="submit"]:hover,
  .pseudo.dropimage:focus,
  button.pseudo:focus,
  .pseudo.button:focus,
  .pseudo[type="submit"]:focus {
    box-shadow: inset 0 0 0 99em rgba(17, 17, 17, 0.1);
  }
  .active.dropimage,
  button.active,
  .active.button,
  .active[type="submit"],
  .dropimage:active,
  button:active,
  .button:active,
  [type="submit"]:active {
    box-shadow: inset 0 0 0 99em rgba(17, 17, 17, 0.2);
  }
  [disabled].dropimage,
  button[disabled],
  [disabled].button,
  [disabled][type="submit"] {
    cursor: default;
    box-shadow: none;
    background: #aaa;
  }

  :checked + .toggle,
  :checked + .toggle:hover {
    box-shadow: inset 0 0 0 99em rgba(17, 17, 17, 0.2);
  }

  [type] + .toggle {
    padding: 0.3em 0.9em;
    margin-right: 0;
  }
  [type] + .toggle:after,
  [type] + .toggle:before {
    display: none;
  }

  .flex {
    display: -ms-flexbox;
    display: flex;
    margin-left: -0.6em;
    width: calc(100% + 0.6em);
    flex-wrap: wrap;
    transition: all 0.3s ease;
  }

  .flex > * {
    box-sizing: border-box;
    flex: 1 1 auto;
    /* Default for IE10 bug */
    padding-left: 0.6em;
    padding-bottom: 0.6em;
  }

  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 3em;
    padding: 0 0.6em;
    background: #fff;
    box-shadow: 0 0 0.2em rgba(170, 170, 170, 0.2);
    z-index: 10000;
    transition: all 0.3s;
    transform-style: preserve-3d;
  }
  nav .brand,
  nav .menu,
  nav .burger {
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  nav .brand {
    font-weight: 700;
    float: left;
    padding: 0 0.6em;
    max-width: 50%;
    white-space: nowrap;
    color: inherit;
  }
  nav .brand * {
    vertical-align: middle;
  }
  nav .logo {
    height: 2em;
    margin-right: 0.3em;
  }
  nav .select::after {
    height: calc(100% - 1px);
    padding: 0;
    line-height: 2.4em;
  }
  nav .menu > * {
    margin-right: 0.6em;
  }

  nav .burger {
    display: none;
  }

  @media all and (max-width: 60em) {
    nav .burger {
      display: inline-block;
      cursor: pointer;
      bottom: -1000em;
      margin: 0;
      -webkit-tap-highlight-color: transparent;
    }
    nav .burger ~ .menu,
    nav .show:checked ~ .burger {
      position: fixed;
      min-height: 100%;
      top: 0;
      right: 0;
      bottom: -1000em;
      margin: 0;
      background: #fff;
      transition: all 0.5s ease;
      transform: none;
    }
    nav .burger ~ .menu {
      z-index: 11;
    }
    nav .show:checked ~ .burger {
      color: transparent;
      width: 100%;
      border-radius: 0;
      background: rgba(17, 17, 17, 0.2);
      transition: all 0.5s ease;
    }
    nav .show ~ .menu {
      width: 70%;
      max-width: 300px;
      transform-origin: center right;
      transition: all 0.25s ease;
      transform: scaleX(0);
    }
    nav .show ~ .menu > * {
      transform: translateX(100%);
      transition: all 0s ease 0.5s;
    }
    nav .show:checked ~ .menu > *:nth-child(1) {
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0s;
    }
    nav .show:checked ~ .menu > *:nth-child(2) {
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.1s;
    }
    nav .show:checked ~ .menu > *:nth-child(3) {
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
    }
    nav .show:checked ~ .menu > *:nth-child(4) {
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.3s;
    }
    nav .show:checked ~ .menu > *:nth-child(5) {
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.4s;
    }
    nav .show:checked ~ .menu > *:nth-child(6) {
      transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.5s;
    }
    nav .show:checked ~ .menu {
      transform: scaleX(1);
    }
    nav .show:checked ~ .menu > * {
      transform: translateX(0);
      transition: all 0.5s ease-in-out 0.6s;
    }
    nav .burger ~ .menu > * {
      display: block;
      margin: 0.3em;
      text-align: left;
      max-width: calc(100% - 0.6em);
    }
    nav .burger ~ .menu > a {
      padding: 0.3em 0.9em;
    }
  }
}
